
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb">

    <li>@Html.ActionLink("Login", "Login")</li>

</ol>

@using (var navbar = @Html.Bootstrap().Navbar("FluentBootstrap")
                .SetPosition(NavbarPosition.StaticTop).Begin())
{
    @navbar.NavbarLink("Introduction", "/")
    @navbar.NavbarLink("Installation", "/Installation")
    @navbar.NavbarLink("Usage", "/Usage")
    @navbar.NavbarLink("Development", "/Development")
}



<h2>Index</h2>

<div class="container">
    <table class="table table-bordered table-striped table-hover">
        <tr>
            <td>@Html.Label("代碼")</td>
            <td> @Html.TextBox("id")</td>

            <td>@Html.Label("簡稱")</td>
            <td> @Html.TextBox("name")</td>
            <td></td>
            <td>
                <div class="input-group">
                    <input type="text" class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">查找</button>
                    </span>
                </div>
            </td>
        </tr>
        <tr></tr>
        <tr>
            <td>@Html.Label("代碼")</td>
            <td> @Html.TextBox("id")</td>

            <td>@Html.Label("簡稱")</td>
            <td>
                <div class="input-group">
                    <input type="time" class="form-control">
                </div>
            </td>
            <td>submit</td>
            <td>
                <div class="input-group">
                    <input type="submit" class="form-control">
                </div>
            </td>
        </tr>
    </table>
</div>