@model LoginViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>系統用戶登錄</title>

    @Styles.Render("~/bootstrap/css")
    @*<!-- Bootstrap core CSS -->
        <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="signin.css" rel="stylesheet">

        <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
        <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <script src="../../assets/js/ie-emulation-modes-warning.js"></script>*@

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    @*<div class="container">*@
    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
    {
        <h2 class="form-signin-heading">請登入系統</h2>
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "帳號", autofocus = "autofocus", required = "required" })
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "密碼", required = "required" })
      


        @*<input type="text" class="form-control" placeholder="帳號" required autofocus>
            <input type="password" class="form-control" placeholder="密碼" required>*@
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m=>m.IsRememberMe,new { @value= "remember-me" })
                @*<input type="checkbox" value="remember-me">*@                 
                自動登錄
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">登錄</button>
    }

    @*<form class="form-signin" role="form"></form>*@

    @*</div>*@

    @Scripts.Render("~/bootstrap/js")
</body>
</html>